[Unit]
Description=Run spring petlinic
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
PIDFile=/run/{{jar_file}}.pid
ExecStart=/usr/bin/java -jar {{home_dir}}{{jar_file}} 'daemon on; master_process on;'
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /run{{jar_file}}.pid

TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
